/* DOCUMENT SET UP */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.section {
    width: 50%;
    height: 100%;
    margin: 0px auto;
    overflow: scroll;
    position: relative;
		float:left;
}

#floating-panel {
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  position: relative;
	float: left
}

#map {
	width: 100%;
  height: 100%;
}
